# SOLUTION Database Administration

## HR Database

<img src = "../Data/HR ERD.png">

## Imports & Creating Connection

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [2]:
import json
with open('/Users/csbro/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/hr"
engine = create_engine(connection)

In [4]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

Database created!

## Showing Tables

In [5]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [Tables_in_hr]
Index: []

## Showing Empty Tables

In [6]:
q= '''SELECT * FROM department'''
pd.read_sql(q, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'hr.department' doesn't exist")
[SQL: SELECT * FROM department]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
q= '''SELECT * FROM employee'''
pd.read_sql(q, engine)

In [ ]:
q= '''SELECT * FROM job'''
pd.read_sql(q, engine)

In [ ]:
q= '''SELECT * FROM job_history'''
pd.read_sql(q, engine)

## Importing Data into Notebook

In [ ]:
department = pd.read_csv('../Data/Department-data.csv')
department.info()
department.head()

In [ ]:
employees = pd.read_csv('../Data/Employee-data.csv')
employees.info()
employees.head()

In [ ]:
job = pd.read_csv('../Data/Jobs-data.csv')
job.info()
job.head()

In [ ]:
job_history = pd.read_csv('../Data/Job_History-data.csv')
job_history.info()
job_history.head()

## Loading Data into Tables

### Department

In [ ]:
q = '''DESCRIBE department;'''
describe = pd.read_sql(q, engine)
describe

In [ ]:
# Checking describe's Field names
describe['Field'].values

In [ ]:
# Checking dataframe's columns
department.columns

In [ ]:
# replace original column names
department.columns = department.columns.str.upper()
department.head(2)

In [ ]:
# Reviewing SQL table's data types
describe[['Field','Type']]

In [ ]:
# Reviewing dataframe's data types
department.dtypes

In [ ]:
department.to_sql("department",engine,index=False, if_exists='append')

In [ ]:
# confirm the data has been added
q = """SELECT * FROM department;"""
pd.read_sql(q,engine)

In [ ]:
# check the describe again to confirm no changes
q = """DESCRIBE department;"""
pd.read_sql(q,engine)

### Employee

In [ ]:
q = '''DESCRIBE employee;'''
describe = pd.read_sql(q, engine)
describe

In [ ]:
# Checking describe's Field names
describe['Field'].values

In [ ]:
# Checking dataframe's columns
employees.columns

In [ ]:
# replace original column names
employees.columns = employees.columns.str.upper()
employees.head(2)

In [ ]:
# Rename columns to match SQL table
rename_map = {"EMPLOYEE_ID":"EMP_ID",
             "BIRTH_DATE":"B_DATE"}
employees = employees.rename(rename_map,axis=1)
employees.head(2)

In [ ]:
# Reviewing SQL table's data types
describe[['Field','Type']]

In [ ]:
# Reviewing dataframe's data types
employees.dtypes

In [ ]:
# Converting B_DATE to datetime dtype
employees['B_DATE'] = pd.to_datetime(employees['B_DATE'])
employees.dtypes

In [ ]:
employees.to_sql("employee",engine,index=False, if_exists='append')

#### We hit an unexpected "Integrity Error" related to foreign key constraints.

- By default, MySQL won't allow us to insert new data into 1 table if we have not yet included the connected data in a related table.
- In this case, it would not let us add to the Employee table because we included ID columns that are the foreign keys for another table.
- We can temporarily deactivate this constraint and then re-run the to_sql command.

#### Handling Foreign Key Constraints

In [ ]:
# Checking the setting for FOREIGN_KEY_CHECKS
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q, engine)

- Whenever we need to run a query that does not return data, we will need to use the connection object to .execute the query instead of using pd.read.sql.

In [ ]:
# Changing the setting for FOREIGN_KEY_CHECKS with the connection
q = """SET @@FOREIGN_KEY_CHECKS=0"""
engine.execute(q)

In [ ]:
# Confirm the checks are deactiavated
q = """SELECT @@FOREIGN_KEY_CHECKS"""
pd.read_sql(q,engine)

- We have deactivated the checks (the value is 0). Now we can try the to_sql command again!

In [ ]:
# Inserting the data now that foreign key checks are disabled
employees.to_sql("employee",engine,index=False, if_exists='append')

In [ ]:
# confirm the data has been added
q = """SELECT * FROM employee;"""
pd.read_sql(q,engine)

In [ ]:
# check the describe again to confirm no changes
q = """DESCRIBE employee;"""
pd.read_sql(q,engine)

### Job

In [ ]:
q = '''DESCRIBE job;'''
describe = pd.read_sql(q, engine)
describe

In [ ]:
# Checking describe's Field names
describe['Field'].values

In [ ]:
# Checking dataframe's columns
job.columns

In [ ]:
# replace original column names
job.columns = job.columns.str.upper()
job.head(2)

In [ ]:
# Reviewing SQL table's data types
describe[['Field','Type']]

In [ ]:
# Reviewing dataframe's data types
job.dtypes

In [ ]:
job.to_sql("job",engine,index=False, if_exists='append')

In [ ]:
# confirm the data has been added
q = """SELECT * FROM job;"""
pd.read_sql(q,engine)

In [ ]:
# check the describe again to confirm no changes
q = """DESCRIBE job;"""
pd.read_sql(q,engine)

### Job History

In [ ]:
q = '''DESCRIBE job_history;'''
describe = pd.read_sql(q, engine)
describe

In [ ]:
# Checking describe's Field names
describe['Field'].values

In [ ]:
# Checking dataframe's columns
job_history.columns

In [ ]:
# replace original column names
job_history.columns = job_history.columns.str.upper()
job_history.head(2)

In [ ]:
# Reviewing SQL table's data types
describe[['Field','Type']]

In [ ]:
# Reviewing dataframe's data types
job_history.dtypes

In [ ]:
# Converting START_DATE to datetime dtype
job_history['START_DATE'] = pd.to_datetime(job_history['START_DATE'])
job_history.dtypes

In [ ]:
job_history.to_sql("job_history",engine,index=False, if_exists='append')

In [ ]:
# confirm the data has been added
q = """SELECT * FROM job_history;"""
pd.read_sql(q,engine)

In [ ]:
# check the describe again to confirm no changes
q = """DESCRIBE job_history;"""
pd.read_sql(q,engine)

## Running Test Query To Verify Data
- Display the first name, last name, job title, start date and deparment of Alice James.

In [ ]:
q = '''
SELECT e.f_name, e.l_name, j.job_title, jh.start_date, d.dep_name
FROM employee e
JOIN department d ON e.dep_id = d.dept_id_dep
JOIN job j ON e.job_id = j.job_ident
JOIN job_history jh ON e.emp_id = jh.empl_id
WHERE e.f_name = 'Alice' AND e.l_name = 'James';
    '''
pd.read_sql(q, engine)